<div class="pb-10 pb-lg-12">
  <h2 class="fw-bolder text-dark">{{ 'business details' | translate }}</h2>
  <div class="text-gray-400 fw-bold fs-6">
    If you need more info, please check out
    <a href="#" class="link-primary fw-bolder">{{ 'help page' | translate }}</a>
    .
  </div>
</div>
<div [formGroup]="form">
  <div class="fv-row mb-10">
    <label class="form-label required">{{ 'business name' | translate }}</label>
    <input
      name="businessName"
      class="form-control form-control-lg form-control-solid"
      formControlName="businessName"
    />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('businessName')?.hasError('required') &&
        form.get('businessName')?.touched
      "
    >
      Business Name is required
    </div>
  </div>
  <div class="fv-row mb-10">
    <label class="d-flex align-items-center form-label">
      <span class="required">{{ 'shortened descriptor' | translate }}</span>
    </label>
    <input
      name="businessDescriptor"
      class="form-control form-control-lg form-control-solid"
      formControlName="businessDescriptor"
    />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('businessDescriptor')?.hasError('required') &&
        form.get('businessDescriptor')?.touched
      "
    >
      Shortened Descriptor is required
    </div>
    <div class="form-text">
      Customers will see this shortened version of your statement descriptor
    </div>
  </div>
  <div class="fv-row mb-10">
    <label class="form-label required">
      {{ 'corporation type' | translate }}
    </label>
    <select
      name="businessType"
      class="form-select form-select-lg form-select-solid"
      formControlName="businessType"
    >
      <option value="1">{{ 's corporation' | translate }}</option>
      <option value="1">{{ 'c corporation' | translate }}</option>
      <option value="2">{{ 'sole proprietorship' | translate }}</option>
      <option value="3">{{ 'Non-profit' | translate }}</option>
      <option value="4">{{ 'limited liability' | translate }}</option>
      <option value="5">{{ 'general partnership' | translate }}</option>
    </select>
  </div>
  <div class="fv-row mb-10">
    <label class="form-label">{{ 'business description' | translate }}</label>
    <textarea
      name="businessDescription"
      class="form-control form-control-lg form-control-solid"
      rows="3"
      formControlName="businessDescription"
    ></textarea>
  </div>
  <div class="fv-row mb-0">
    <label class="fs-6 fw-bold form-label required">
      {{ 'contact email' | translate }}
    </label>
    <input
      name="businessEmail"
      class="form-control form-control-lg form-control-solid"
      formControlName="businessEmail"
    />
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('businessEmail')?.hasError('required') &&
        form.get('businessEmail')?.touched
      "
    >
      Contact Email is required
    </div>
    <div
      class="fv-plugins-message-container invalid-feedback"
      *ngIf="
        form.get('businessEmail')?.hasError('email') &&
        form.get('businessEmail')?.touched
      "
    >
      Wrong email format
    </div>
  </div>
</div>
