<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">{{ 'profile details' | translate }}</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            {{ 'avatar' | translate }}
          </label>
          <div class="col-lg-8">
            <div
              class="image-input image-input-outline"
              data-kt-image-input="true"
              [style.background-image]="'url(./assets/media/avatars/blank.png'"
            >
              <div
                class="image-input-wrapper w-125px h-125px"
                [style.background-image]="
                  'url(./assets/media/avatars/300-1.jpg'
                "
              ></div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">
            {{ 'full name' | translate }}
          </label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  placeholder="First name"
                  name="fName"
                  value="Max"
                />
              </div>
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Last name"
                  name="lName"
                  value="Smith"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">
            {{ 'company' | translate }}
          </label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Company name"
              name="company"
              value="Keenthemes"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">{{ 'contact phone' | translate }}</span>
          </label>
          <div class="col-lg-8 fv-row">
            <input
              type="tel"
              class="form-control form-control-lg form-control-solid"
              placeholder="Phone number"
              name="contactPhone"
              value="044 3276 454 935"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">{{ 'company site' | translate }}</span>
          </label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Company website"
              name="companySite"
              value="keenthemes.com"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">{{ 'country' | translate }}</span>
          </label>
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg fw-bold"
              name="country"
            >
              <option value="">{{ 'Select a Country...' | translate }}</option>
              <option value="AF">{{ 'afghanistan' | translate }}</option>
              <option value="AX">{{ 'aland islands' | translate }}</option>
              <option value="AL">{{ 'albania' | translate }}</option>
              <option value="DZ">{{ 'algeria' | translate }}</option>
              <option value="AS">{{ 'american samoa' | translate }}</option>
              <option value="AD">{{ 'andorra' | translate }}</option>
              <option value="AO">{{ 'angola' | translate }}</option>
              <option value="AI">{{ 'anguilla' | translate }}</option>
              <option value="AQ">{{ 'antarctica' | translate }}</option>
              <option value="AG">
                {{ 'antigua and barbuda' | translate }}
              </option>
              <option value="AR">{{ 'argentina' | translate }}</option>
              <option value="AM">{{ 'armenia' | translate }}</option>
              <option value="AW">{{ 'aruba' | translate }}</option>
              <option value="AU">{{ 'australia' | translate }}</option>
              <option value="AT">{{ 'austria' | translate }}</option>
              <option value="AZ">{{ 'azerbaijan' | translate }}</option>
              <option value="BS">{{ 'bahamas' | translate }}</option>
              <option value="BH">{{ 'bahrain' | translate }}</option>
              <option value="BD">{{ 'bangladesh' | translate }}</option>
              <option value="BB">{{ 'barbados' | translate }}</option>
              <option value="BY">{{ 'belarus' | translate }}</option>
              <option value="BE">{{ 'belgium' | translate }}</option>
              <option value="BZ">{{ 'belize' | translate }}</option>
              <option value="BJ">{{ 'benin' | translate }}</option>
              <option value="BM">{{ 'bermuda' | translate }}</option>
              <option value="BT">{{ 'bhutan' | translate }}</option>
              <option value="BO">
                {{ 'Bolivia, Plurinational State of' | translate }}
              </option>
              <option value="BQ">
                {{ 'Bonaire, Sint Eustatius and Saba' | translate }}
              </option>
              <option value="BA">
                {{ 'bosnia and herzegovina' | translate }}
              </option>
              <option value="BW">{{ 'botswana' | translate }}</option>
              <option value="BV">{{ 'bouvet island' | translate }}</option>
              <option value="BR">{{ 'brazil' | translate }}</option>
              <option value="IO">
                {{ 'british indian ocean territory' | translate }}
              </option>
              <option value="BN">{{ 'brunei darussalam' | translate }}</option>
              <option value="BG">{{ 'bulgaria' | translate }}</option>
              <option value="BF">{{ 'burkina faso' | translate }}</option>
              <option value="BI">{{ 'burundi' | translate }}</option>
              <option value="KH">{{ 'cambodia' | translate }}</option>
              <option value="CM">{{ 'cameroon' | translate }}</option>
              <option value="CA">{{ 'canada' | translate }}</option>
              <option value="CV">{{ 'cape verde' | translate }}</option>
              <option value="KY">{{ 'cayman islands' | translate }}</option>
              <option value="CF">
                {{ 'central african republic' | translate }}
              </option>
              <option value="TD">{{ 'chad' | translate }}</option>
              <option value="CL">{{ 'chile' | translate }}</option>
              <option value="CN">{{ 'china' | translate }}</option>
              <option value="CX">{{ 'christmas island' | translate }}</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO">{{ 'colombia' | translate }}</option>
              <option value="KM">{{ 'comoros' | translate }}</option>
              <option value="CG">{{ 'congo' | translate }}</option>
              <option value="CD">
                {{ 'Congo, the Democratic Republic of the' | translate }}
              </option>
              <option value="CK">{{ 'cook islands' | translate }}</option>
              <option value="CR">{{ 'costa rica' | translate }}</option>
              <option value="CI">{{'Côte d'Ivoire' | translate}}</option>
              <option value="HR">{{ 'croatia' | translate }}</option>
              <option value="CU">{{ 'cuba' | translate }}</option>
              <option value="CW">{{ 'Curaçao' | translate }}</option>
              <option value="CY">{{ 'cyprus' | translate }}</option>
              <option value="CZ">{{ 'czech republic' | translate }}</option>
              <option value="DK">{{ 'denmark' | translate }}</option>
              <option value="DJ">{{ 'djibouti' | translate }}</option>
              <option value="DM">{{ 'dominica' | translate }}</option>
              <option value="DO">{{ 'dominican republic' | translate }}</option>
              <option value="EC">{{ 'ecuador' | translate }}</option>
              <option value="EG">{{ 'egypt' | translate }}</option>
              <option value="SV">{{ 'el salvador' | translate }}</option>
              <option value="GQ">{{ 'equatorial guinea' | translate }}</option>
              <option value="ER">{{ 'eritrea' | translate }}</option>
              <option value="EE">{{ 'estonia' | translate }}</option>
              <option value="ET">{{ 'ethiopia' | translate }}</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FO">{{ 'faroe islands' | translate }}</option>
              <option value="FJ">{{ 'fiji' | translate }}</option>
              <option value="FI">{{ 'finland' | translate }}</option>
              <option value="FR">{{ 'france' | translate }}</option>
              <option value="GF">{{ 'french guiana' | translate }}</option>
              <option value="PF">{{ 'french polynesia' | translate }}</option>
              <option value="TF">
                {{ 'french southern territories' | translate }}
              </option>
              <option value="GA">{{ 'gabon' | translate }}</option>
              <option value="GM">{{ 'gambia' | translate }}</option>
              <option value="GE">{{ 'georgia' | translate }}</option>
              <option value="DE">{{ 'germany' | translate }}</option>
              <option value="GH">{{ 'ghana' | translate }}</option>
              <option value="GI">{{ 'gibraltar' | translate }}</option>
              <option value="GR">{{ 'greece' | translate }}</option>
              <option value="GL">{{ 'greenland' | translate }}</option>
              <option value="GD">{{ 'grenada' | translate }}</option>
              <option value="GP">{{ 'guadeloupe' | translate }}</option>
              <option value="GU">{{ 'guam' | translate }}</option>
              <option value="GT">{{ 'guatemala' | translate }}</option>
              <option value="GG">{{ 'guernsey' | translate }}</option>
              <option value="GN">{{ 'guinea' | translate }}</option>
              <option value="GW">{{ 'guinea-bissau' | translate }}</option>
              <option value="GY">{{ 'guyana' | translate }}</option>
              <option value="HT">{{ 'haiti' | translate }}</option>
              <option value="HM">
                {{ 'Heard Island and McDonald Islands' | translate }}
              </option>
              <option value="VA">Holy See (Vatican City State)</option>
              <option value="HN">{{ 'honduras' | translate }}</option>
              <option value="HK">{{ 'hong kong' | translate }}</option>
              <option value="HU">{{ 'hungary' | translate }}</option>
              <option value="IS">{{ 'iceland' | translate }}</option>
              <option value="IN">{{ 'india' | translate }}</option>
              <option value="ID">{{ 'indonesia' | translate }}</option>
              <option value="IR">
                {{ 'Iran, Islamic Republic of' | translate }}
              </option>
              <option value="IQ">{{ 'iraq' | translate }}</option>
              <option value="IE">{{ 'ireland' | translate }}</option>
              <option value="IM">{{ 'isle of man' | translate }}</option>
              <option value="IL">{{ 'israel' | translate }}</option>
              <option value="IT">{{ 'italy' | translate }}</option>
              <option value="JM">{{ 'jamaica' | translate }}</option>
              <option value="JP">{{ 'japan' | translate }}</option>
              <option value="JE">{{ 'jersey' | translate }}</option>
              <option value="JO">{{ 'jordan' | translate }}</option>
              <option value="KZ">{{ 'kazakhstan' | translate }}</option>
              <option value="KE">{{ 'kenya' | translate }}</option>
              <option value="KI">{{ 'kiribati' | translate }}</option>
              <option value="KP">
                {{'Korea, Democratic People's Republic of' | translate}}
              </option>
              <option value="KW">{{ 'kuwait' | translate }}</option>
              <option value="KG">{{ 'kyrgyzstan' | translate }}</option>
              <option value="LA">
                {{'lao people's democratic republic' | translate}}
              </option>
              <option value="LV">{{ 'latvia' | translate }}</option>
              <option value="LB">{{ 'lebanon' | translate }}</option>
              <option value="LS">{{ 'lesotho' | translate }}</option>
              <option value="LR">{{ 'liberia' | translate }}</option>
              <option value="LY">{{ 'libya' | translate }}</option>
              <option value="LI">{{ 'liechtenstein' | translate }}</option>
              <option value="LT">{{ 'lithuania' | translate }}</option>
              <option value="LU">{{ 'luxembourg' | translate }}</option>
              <option value="MO">{{ 'macao' | translate }}</option>
              <option value="MK">
                Macedonia, the former Yugoslav Republic of
              </option>
              <option value="MG">{{ 'madagascar' | translate }}</option>
              <option value="MW">{{ 'malawi' | translate }}</option>
              <option value="MY">{{ 'malaysia' | translate }}</option>
              <option value="MV">{{ 'maldives' | translate }}</option>
              <option value="ML">{{ 'mali' | translate }}</option>
              <option value="MT">{{ 'malta' | translate }}</option>
              <option value="MH">{{ 'marshall islands' | translate }}</option>
              <option value="MQ">{{ 'martinique' | translate }}</option>
              <option value="MR">{{ 'mauritania' | translate }}</option>
              <option value="MU">{{ 'mauritius' | translate }}</option>
              <option value="YT">{{ 'mayotte' | translate }}</option>
              <option value="MX">{{ 'mexico' | translate }}</option>
              <option value="FM">
                {{ 'Micronesia, Federated States of' | translate }}
              </option>
              <option value="MD">
                {{ 'Moldova, Republic of' | translate }}
              </option>
              <option value="MC">{{ 'monaco' | translate }}</option>
              <option value="MN">{{ 'mongolia' | translate }}</option>
              <option value="ME">{{ 'montenegro' | translate }}</option>
              <option value="MS">{{ 'montserrat' | translate }}</option>
              <option value="MA">{{ 'morocco' | translate }}</option>
              <option value="MZ">{{ 'mozambique' | translate }}</option>
              <option value="MM">{{ 'myanmar' | translate }}</option>
              <option value="NA">{{ 'namibia' | translate }}</option>
              <option value="NR">{{ 'nauru' | translate }}</option>
              <option value="NP">{{ 'nepal' | translate }}</option>
              <option value="NL">{{ 'netherlands' | translate }}</option>
              <option value="NC">{{ 'new caledonia' | translate }}</option>
              <option value="NZ">{{ 'new zealand' | translate }}</option>
              <option value="NI">{{ 'nicaragua' | translate }}</option>
              <option value="NE">{{ 'niger' | translate }}</option>
              <option value="NG">{{ 'nigeria' | translate }}</option>
              <option value="NU">{{ 'niue' | translate }}</option>
              <option value="NF">{{ 'norfolk island' | translate }}</option>
              <option value="MP">
                {{ 'northern mariana islands' | translate }}
              </option>
              <option value="NO">{{ 'norway' | translate }}</option>
              <option value="OM">{{ 'oman' | translate }}</option>
              <option value="PK">{{ 'pakistan' | translate }}</option>
              <option value="PW">{{ 'palau' | translate }}</option>
              <option value="PS">
                {{ 'Palestinian Territory, Occupied' | translate }}
              </option>
              <option value="PA">{{ 'panama' | translate }}</option>
              <option value="PG">{{ 'papua new guinea' | translate }}</option>
              <option value="PY">{{ 'paraguay' | translate }}</option>
              <option value="PE">{{ 'peru' | translate }}</option>
              <option value="PH">{{ 'philippines' | translate }}</option>
              <option value="PN">{{ 'pitcairn' | translate }}</option>
              <option value="PL">{{ 'poland' | translate }}</option>
              <option value="PT">{{ 'portugal' | translate }}</option>
              <option value="PR">{{ 'puerto rico' | translate }}</option>
              <option value="QA">{{ 'qatar' | translate }}</option>
              <option value="RE">{{ 'Réunion' | translate }}</option>
              <option value="RO">{{ 'romania' | translate }}</option>
              <option value="RU">{{ 'russian federation' | translate }}</option>
              <option value="RW">{{ 'rwanda' | translate }}</option>
              <option value="BL">{{ 'Saint Barthélemy' | translate }}</option>
              <option value="SH">
                Saint Helena, Ascension and Tristan da Cunha
              </option>
              <option value="KN">
                {{ 'saint kitts and nevis' | translate }}
              </option>
              <option value="LC">{{ 'saint lucia' | translate }}</option>
              <option value="MF">Saint Martin (French part)</option>
              <option value="PM">
                {{ 'saint pierre and miquelon' | translate }}
              </option>
              <option value="VC">
                {{ 'saint vincent and the grenadines' | translate }}
              </option>
              <option value="WS">{{ 'samoa' | translate }}</option>
              <option value="SM">{{ 'san marino' | translate }}</option>
              <option value="ST">
                {{ 'sao tome and principe' | translate }}
              </option>
              <option value="SA">{{ 'saudi arabia' | translate }}</option>
              <option value="SN">{{ 'senegal' | translate }}</option>
              <option value="RS">{{ 'serbia' | translate }}</option>
              <option value="SC">{{ 'seychelles' | translate }}</option>
              <option value="SL">{{ 'sierra leone' | translate }}</option>
              <option value="SG">{{ 'singapore' | translate }}</option>
              <option value="SX">Sint Maarten (Dutch part)</option>
              <option value="SK">{{ 'slovakia' | translate }}</option>
              <option value="SI">{{ 'slovenia' | translate }}</option>
              <option value="SB">{{ 'solomon islands' | translate }}</option>
              <option value="SO">{{ 'somalia' | translate }}</option>
              <option value="ZA">{{ 'south africa' | translate }}</option>
              <option value="GS">
                South Georgia and the South Sandwich Islands
              </option>
              <option value="KR">{{ 'south korea' | translate }}</option>
              <option value="SS">{{ 'south sudan' | translate }}</option>
              <option value="ES">{{ 'spain' | translate }}</option>
              <option value="LK">{{ 'sri lanka' | translate }}</option>
              <option value="SD">{{ 'sudan' | translate }}</option>
              <option value="SR">{{ 'suriname' | translate }}</option>
              <option value="SJ">
                {{ 'svalbard and jan mayen' | translate }}
              </option>
              <option value="SZ">{{ 'swaziland' | translate }}</option>
              <option value="SE">{{ 'sweden' | translate }}</option>
              <option value="CH">{{ 'switzerland' | translate }}</option>
              <option value="SY">
                {{ 'syrian arab republic' | translate }}
              </option>
              <option value="TW">
                {{ 'Taiwan, Province of China' | translate }}
              </option>
              <option value="TJ">{{ 'tajikistan' | translate }}</option>
              <option value="TZ">
                {{ 'Tanzania, United Republic of' | translate }}
              </option>
              <option value="TH">{{ 'thailand' | translate }}</option>
              <option value="TL">{{ 'Timor-Leste' | translate }}</option>
              <option value="TG">{{ 'togo' | translate }}</option>
              <option value="TK">{{ 'tokelau' | translate }}</option>
              <option value="TO">{{ 'tonga' | translate }}</option>
              <option value="TT">
                {{ 'trinidad and tobago' | translate }}
              </option>
              <option value="TN">{{ 'tunisia' | translate }}</option>
              <option value="TR">{{ 'turkey' | translate }}</option>
              <option value="TM">{{ 'turkmenistan' | translate }}</option>
              <option value="TC">
                {{ 'turks and caicos islands' | translate }}
              </option>
              <option value="TV">{{ 'tuvalu' | translate }}</option>
              <option value="UG">{{ 'uganda' | translate }}</option>
              <option value="UA">{{ 'ukraine' | translate }}</option>
              <option value="AE">
                {{ 'united arab emirates' | translate }}
              </option>
              <option value="GB">{{ 'united kingdom' | translate }}</option>
              <option value="US">{{ 'united states' | translate }}</option>
              <option value="UY">{{ 'uruguay' | translate }}</option>
              <option value="UZ">{{ 'uzbekistan' | translate }}</option>
              <option value="VU">{{ 'vanuatu' | translate }}</option>
              <option value="VE">
                {{ 'Venezuela, Bolivarian Republic of' | translate }}
              </option>
              <option value="VN">{{ 'vietnam' | translate }}</option>
              <option value="VI">{{ 'virgin islands' | translate }}</option>
              <option value="WF">{{ 'wallis and futuna' | translate }}</option>
              <option value="EH">{{ 'western sahara' | translate }}</option>
              <option value="YE">{{ 'yemen' | translate }}</option>
              <option value="ZM">{{ 'zambia' | translate }}</option>
              <option value="ZW">{{ 'zimbabwe' | translate }}</option>
            </select>
            <!-- <div class="fv-plugins-message-container">
              <div class="fv-help-block">Country is required</div>
            </div> -->
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">
            {{ 'language' | translate }}
          </label>
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg"
              name="language"
            >
              <option value="">{{ 'Select a Language...' | translate }}</option>
              <option value="id">
                {{ 'Bahasa Indonesia - Indonesian' | translate }}
              </option>
              <option value="msa">
                {{ 'Bahasa Melayu - Malay' | translate }}
              </option>
              <option value="ca">{{ 'Català - Catalan' | translate }}</option>
              <option value="cs">{{ 'Čeština - Czech' | translate }}</option>
              <option value="da">{{ 'Dansk - Danish' | translate }}</option>
              <option value="de">{{ 'Deutsch - German' | translate }}</option>
              <option value="en">{{ 'english' | translate }}</option>
              <option value="en-gb">
                {{ 'English UK - British English' | translate }}
              </option>
              <option value="es">{{ 'Español - Spanish' | translate }}</option>
              <option value="fil">{{ 'filipino' | translate }}</option>
              <option value="fr">{{ 'Français - French' | translate }}</option>
              <option value="ga">Gaeilge - Irish (beta)</option>
              <option value="gl">Galego - Galician (beta)</option>
              <option value="hr">
                {{ 'Hrvatski - Croatian' | translate }}
              </option>
              <option value="it">{{ 'Italiano - Italian' | translate }}</option>
              <option value="hu">{{ 'Magyar - Hungarian' | translate }}</option>
              <option value="nl">{{ 'Nederlands - Dutch' | translate }}</option>
              <option value="no">{{ 'Norsk - Norwegian' | translate }}</option>
              <option value="pl">{{ 'Polski - Polish' | translate }}</option>
              <option value="pt">
                {{ 'Português - Portuguese' | translate }}
              </option>
              <option value="ro">{{ 'Română - Romanian' | translate }}</option>
              <option value="sk">
                {{ 'Slovenčina - Slovak' | translate }}
              </option>
              <option value="fi">{{ 'Suomi - Finnish' | translate }}</option>
              <option value="sv">{{ 'Svenska - Swedish' | translate }}</option>
              <option value="vi">
                {{ 'Tiếng Việt - Vietnamese' | translate }}
              </option>
              <option value="tr">{{ 'Türkçe - Turkish' | translate }}</option>
              <option value="el">{{ 'Ελληνικά - Greek' | translate }}</option>
              <option value="bg">
                {{ 'Български език - Bulgarian' | translate }}
              </option>
              <option value="ru">{{ 'Русский - Russian' | translate }}</option>
              <option value="sr">{{ 'Српски - Serbian' | translate }}</option>
              <option value="uk">
                {{ 'Українська мова - Ukrainian' | translate }}
              </option>
              <option value="he">{{ 'עִבְרִית - Hebrew' | translate }}</option>
              <option value="ur">اردو - Urdu (beta)</option>
              <option value="ar">{{ 'العربية - Arabic' | translate }}</option>
              <option value="fa">{{ 'فارسی - Persian' | translate }}</option>
              <option value="mr">{{ 'मराठी - Marathi' | translate }}</option>
              <option value="hi">{{ 'हिन्दी - Hindi' | translate }}</option>
              <option value="bn">{{ 'বাংলা - Bangla' | translate }}</option>
              <option value="gu">{{ 'ગુજરાતી - Gujarati' | translate }}</option>
              <option value="ta">{{ 'தமிழ் - Tamil' | translate }}</option>
              <option value="kn">{{ 'ಕನ್ನಡ - Kannada' | translate }}</option>
              <option value="th">{{ 'ภาษาไทย - Thai' | translate }}</option>
              <option value="ko">{{ '한국어 - Korean' | translate }}</option>
              <option value="ja">{{ '日本語 - Japanese' | translate }}</option>
              <option value="zh-cn">
                {{ '简体中文 - Simplified Chinese' | translate }}
              </option>
              <option value="zh-tw">
                {{ '繁體中文 - Traditional Chinese' | translate }}
              </option>
            </select>
            <div class="form-text">
              {{"Please select a preferred language, including date, time, and" | translate}}
              {{'number formatting.'|translate}}
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">
            {{ 'time zone' | translate }}
          </label>
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg"
              name="timeZone"
            >
              <option value="">{{ 'Select a Timezone..' | translate }}</option>
              <option value="International Date Line West">
                (GMT-11:00) International Date Line West
              </option>
              <option value="Midway Island">(GMT-11:00) Midway Island</option>
              <option value="Samoa">(GMT-11:00) Samoa</option>
              <option value="Hawaii">(GMT-10:00) Hawaii</option>
              <option value="Alaska">(GMT-08:00) Alaska</option>
              <option value="Pacific Time (US &amp; Canada)">
                (GMT-07:00) Pacific Time (US &amp; Canada)
              </option>
              <option value="Tijuana">(GMT-07:00) Tijuana</option>
              <option value="Arizona">(GMT-07:00) Arizona</option>
              <option value="Mountain Time (US &amp; Canada)">
                (GMT-06:00) Mountain Time (US &amp; Canada)
              </option>
              <option value="Chihuahua">(GMT-06:00) Chihuahua</option>
              <option value="Mazatlan">(GMT-06:00) Mazatlan</option>
              <option value="Saskatchewan">(GMT-06:00) Saskatchewan</option>
              <option value="Central America">
                (GMT-06:00) Central America
              </option>
              <option value="Central Time (US &amp; Canada)">
                (GMT-05:00) Central Time (US &amp; Canada)
              </option>
              <option value="Guadalajara">(GMT-05:00) Guadalajara</option>
              <option value="Mexico City">(GMT-05:00) Mexico City</option>
              <option value="Monterrey">(GMT-05:00) Monterrey</option>
              <option value="Bogota">(GMT-05:00) Bogota</option>
              <option value="Lima">(GMT-05:00) Lima</option>
              <option value="Quito">(GMT-05:00) Quito</option>
              <option value="Eastern Time (US &amp; Canada)">
                (GMT-04:00) Eastern Time (US &amp; Canada)
              </option>
              <option value="Indiana (East)">(GMT-04:00) Indiana (East)</option>
              <option value="Caracas">(GMT-04:00) Caracas</option>
              <option value="La Paz">(GMT-04:00) La Paz</option>
              <option value="Georgetown">(GMT-04:00) Georgetown</option>
              <option value="Atlantic Time (Canada)">
                (GMT-03:00) Atlantic Time (Canada)
              </option>
              <option value="Santiago">(GMT-03:00) Santiago</option>
              <option value="Brasilia">(GMT-03:00) Brasilia</option>
              <option value="Buenos Aires">(GMT-03:00) Buenos Aires</option>
              <option value="Newfoundland">(GMT-02:30) Newfoundland</option>
              <option value="Greenland">(GMT-02:00) Greenland</option>
              <option value="Mid-Atlantic">(GMT-02:00) Mid-Atlantic</option>
              <option value="Cape Verde Is.">(GMT-01:00) Cape Verde Is.</option>
              <option value="Azores">(GMT) Azores</option>
              <option value="Monrovia">(GMT) Monrovia</option>
              <option value="UTC">(GMT) UTC</option>
              <option value="Dublin">(GMT+01:00) Dublin</option>
              <option value="Edinburgh">(GMT+01:00) Edinburgh</option>
              <option value="Lisbon">(GMT+01:00) Lisbon</option>
              <option value="London">(GMT+01:00) London</option>
              <option value="Casablanca">(GMT+01:00) Casablanca</option>
              <option value="West Central Africa">
                (GMT+01:00) West Central Africa
              </option>
              <option value="Belgrade">(GMT+02:00) Belgrade</option>
              <option value="Bratislava">(GMT+02:00) Bratislava</option>
              <option value="Budapest">(GMT+02:00) Budapest</option>
              <option value="Ljubljana">(GMT+02:00) Ljubljana</option>
              <option value="Prague">(GMT+02:00) Prague</option>
              <option value="Sarajevo">(GMT+02:00) Sarajevo</option>
              <option value="Skopje">(GMT+02:00) Skopje</option>
              <option value="Warsaw">(GMT+02:00) Warsaw</option>
              <option value="Zagreb">(GMT+02:00) Zagreb</option>
              <option value="Brussels">(GMT+02:00) Brussels</option>
              <option value="Copenhagen">(GMT+02:00) Copenhagen</option>
              <option value="Madrid">(GMT+02:00) Madrid</option>
              <option value="Paris">(GMT+02:00) Paris</option>
              <option value="Amsterdam">(GMT+02:00) Amsterdam</option>
              <option value="Berlin">(GMT+02:00) Berlin</option>
              <option value="Bern">(GMT+02:00) Bern</option>
              <option value="Rome">(GMT+02:00) Rome</option>
              <option value="Stockholm">(GMT+02:00) Stockholm</option>
              <option value="Vienna">(GMT+02:00) Vienna</option>
              <option value="Cairo">(GMT+02:00) Cairo</option>
              <option value="Harare">(GMT+02:00) Harare</option>
              <option value="Pretoria">(GMT+02:00) Pretoria</option>
              <option value="Bucharest">(GMT+03:00) Bucharest</option>
              <option value="Helsinki">(GMT+03:00) Helsinki</option>
              <option value="Kiev">(GMT+03:00) Kiev</option>
              <option value="Kyiv">(GMT+03:00) Kyiv</option>
              <option value="Riga">(GMT+03:00) Riga</option>
              <option value="Sofia">(GMT+03:00) Sofia</option>
              <option value="Tallinn">(GMT+03:00) Tallinn</option>
              <option value="Vilnius">(GMT+03:00) Vilnius</option>
              <option value="Athens">(GMT+03:00) Athens</option>
              <option value="Istanbul">(GMT+03:00) Istanbul</option>
              <option value="Minsk">(GMT+03:00) Minsk</option>
              <option value="Jerusalem">(GMT+03:00) Jerusalem</option>
              <option value="Moscow">(GMT+03:00) Moscow</option>
              <option value="St. Petersburg">(GMT+03:00) St. Petersburg</option>
              <option value="Volgograd">(GMT+03:00) Volgograd</option>
              <option value="Kuwait">(GMT+03:00) Kuwait</option>
              <option value="Riyadh">(GMT+03:00) Riyadh</option>
              <option value="Nairobi">(GMT+03:00) Nairobi</option>
              <option value="Baghdad">(GMT+03:00) Baghdad</option>
              <option value="Abu Dhabi">(GMT+04:00) Abu Dhabi</option>
              <option value="Muscat">(GMT+04:00) Muscat</option>
              <option value="Baku">(GMT+04:00) Baku</option>
              <option value="Tbilisi">(GMT+04:00) Tbilisi</option>
              <option value="Yerevan">(GMT+04:00) Yerevan</option>
              <option value="Tehran">(GMT+04:30) Tehran</option>
              <option value="Kabul">(GMT+04:30) Kabul</option>
              <option value="Ekaterinburg">(GMT+05:00) Ekaterinburg</option>
              <option value="Islamabad">(GMT+05:00) Islamabad</option>
              <option value="Karachi">(GMT+05:00) Karachi</option>
              <option value="Tashkent">(GMT+05:00) Tashkent</option>
              <option value="Chennai">(GMT+05:30) Chennai</option>
              <option value="Kolkata">(GMT+05:30) Kolkata</option>
              <option value="Mumbai">(GMT+05:30) Mumbai</option>
              <option value="New Delhi">(GMT+05:30) New Delhi</option>
              <option value="Sri Jayawardenepura">
                (GMT+05:30) Sri Jayawardenepura
              </option>
              <option value="Kathmandu">(GMT+05:45) Kathmandu</option>
              <option value="Astana">(GMT+06:00) Astana</option>
              <option value="Dhaka">(GMT+06:00) Dhaka</option>
              <option value="Almaty">(GMT+06:00) Almaty</option>
              <option value="Urumqi">(GMT+06:00) Urumqi</option>
              <option value="Rangoon">(GMT+06:30) Rangoon</option>
              <option value="Novosibirsk">(GMT+07:00) Novosibirsk</option>
              <option value="Bangkok">(GMT+07:00) Bangkok</option>
              <option value="Hanoi">(GMT+07:00) Hanoi</option>
              <option value="Jakarta">(GMT+07:00) Jakarta</option>
              <option value="Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
              <option value="Beijing">(GMT+08:00) Beijing</option>
              <option value="Chongqing">(GMT+08:00) Chongqing</option>
              <option value="Hong Kong">(GMT+08:00) Hong Kong</option>
              <option value="Kuala Lumpur">(GMT+08:00) Kuala Lumpur</option>
              <option value="Singapore">(GMT+08:00) Singapore</option>
              <option value="Taipei">(GMT+08:00) Taipei</option>
              <option value="Perth">(GMT+08:00) Perth</option>
              <option value="Irkutsk">(GMT+08:00) Irkutsk</option>
              <option value="Ulaan Bataar">(GMT+08:00) Ulaan Bataar</option>
              <option value="Seoul">(GMT+09:00) Seoul</option>
              <option value="Osaka">(GMT+09:00) Osaka</option>
              <option value="Sapporo">(GMT+09:00) Sapporo</option>
              <option value="Tokyo">(GMT+09:00) Tokyo</option>
              <option value="Yakutsk">(GMT+09:00) Yakutsk</option>
              <option value="Darwin">(GMT+09:30) Darwin</option>
              <option value="Adelaide">(GMT+09:30) Adelaide</option>
              <option value="Canberra">(GMT+10:00) Canberra</option>
              <option value="Melbourne">(GMT+10:00) Melbourne</option>
              <option value="Sydney">(GMT+10:00) Sydney</option>
              <option value="Brisbane">(GMT+10:00) Brisbane</option>
              <option value="Hobart">(GMT+10:00) Hobart</option>
              <option value="Vladivostok">(GMT+10:00) Vladivostok</option>
              <option value="Guam">(GMT+10:00) Guam</option>
              <option value="Port Moresby">(GMT+10:00) Port Moresby</option>
              <option value="Solomon Is.">(GMT+10:00) Solomon Is.</option>
              <option value="Magadan">(GMT+11:00) Magadan</option>
              <option value="New Caledonia">(GMT+11:00) New Caledonia</option>
              <option value="Fiji">(GMT+12:00) Fiji</option>
              <option value="Kamchatka">(GMT+12:00) Kamchatka</option>
              <option value="Marshall Is.">(GMT+12:00) Marshall Is.</option>
              <option value="Auckland">(GMT+12:00) Auckland</option>
              <option value="Wellington">(GMT+12:00) Wellington</option>
              <option value="Nuku'alofa">(GMT+13:00) Nuku'alofa</option>
            </select>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">
            {{ 'currency' | translate }}
          </label>
          <div class="col-lg-8 fv-row">
            <select
              class="form-select form-select-solid form-select-lg"
              name="currency"
            >
              <option value="">{{ 'Select a currency..' | translate }}</option>
              <option value="USD">{{ 'USD - USA dollar' | translate }}</option>
              <option value="GBP">
                {{ 'GBP - British pound' | translate }}
              </option>
              <option value="AUD">
                {{ 'AUD - Australian dollar' | translate }}
              </option>
              <option value="JPY">
                {{ 'JPY - Japanese yen' | translate }}
              </option>
              <option value="SEK">
                {{ 'SEK - Swedish krona' | translate }}
              </option>
              <option value="CAD">
                {{ 'CAD - Canadian dollar' | translate }}
              </option>
              <option value="CHF">{{ 'CHF - Swiss franc' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            {{ 'communication' | translate }}
          </label>
          <div class="col-lg-8 fv-row">
            <div class="d-flex align-items-center mt-3">
              <label class="form-check form-check-inline form-check-solid me-5">
                <input
                  class="form-check-input"
                  name="communication[]"
                  type="checkbox"
                />
                <span class="fw-bold ps-2 fs-6">{{ 'email' | translate }}</span>
              </label>
              <label class="form-check form-check-inline form-check-solid">
                <input
                  class="form-check-input"
                  name="communication[]"
                  type="checkbox"
                />
                <span class="fw-bold ps-2 fs-6">{{ 'phone' | translate }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row mb-0">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            {{ 'allow marketing' | translate }}
          </label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
                class="form-check-input w-45px h-30px"
                type="checkbox"
                id="allowmarketing"
              />
              <label class="form-check-label"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="isLoading"
          (click)="saveSettings()"
        >
          <ng-container *ngIf="!isLoading">
            {{ 'save changes' | translate }}
          </ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              {{'Please wait...'|translate}}{{ ' ' }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
